:root{
    --font:'Manrope', sans-serif;
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:var(--font);
}
body{
    background: var(--Dark-Blue);
}
main{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
section{
    padding: 1rem;
    height: auto !important;
    background: var(--Dark-Grayish-Blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 600px;
}
.img__add__moblie{
    display: none;
}
.img__add img{
    display: block;
    margin: auto;
    position: relative;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h1{
    text-align: center;
    color: var(--Neon-Green);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 5px;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
p{
    text-align: center;
    color: var(--Light-Cyan);
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 28px;
}
button {
    background-color: var(--Neon-Green);
    padding: 1.25rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
footer{
    color: var(--Neon-Green);
    text-align: center;
}
a{
    color: var(--Light-Cyan);
}
@media screen and (max-width:900px) {
    main{
        min-height:80vh !important;
        padding: 1rem;
    }
    section{
        max-width: 100% !important;
    }
    .img__add__moblie{
        display: block;
    }
    .img__add__moblie img{
        width: 100%;
        margin-bottom: 1rem;
    }
    .img__add{
        display: none;
    }
}